{% extends "base/base.html" %}
{%load static %}

{%block content %}    
    <div id="configuration_content">   
        <div class="redirect_index_container">
            <a href="/" class="base_button orange"> < Inicio </a>
        </div>   

        <div id="decorator_container">
            <h1>Configuración por defecto</h1>
            <div id="configuration_form_container">           
                <form id="configuration_form" method="POST" class="democracy-form">
                    {% csrf_token %}
                    <p>
                        <label for="{{form.default_min_votes_threshold.id_for_label }}">
                            Umbral mínimo de representación por defecto:
                        </label>
                        {{form.default_min_votes_threshold}}
                    </p>  

                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="error">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                    {%if saved == "success" %}
                        <div class="success">
                                <strong>La configuración se ha guardado con éxito.</strong>
                        </div>
                    {%endif %}
                    {%if saved == "erros" %}
                        <div class="error">
                                <strong>Lo sentimos. Hubo un problema al guardar la configuración. Inténtelo de nuevo más tarde.</strong>
                        </div>
                    {%endif %}

                    <div id="configuration_button_container">
                        <input id="submit_input" type="submit" class="base_button dark_blue" value="Guardar">        
                    </div>      
                </form>
            </div>
        </div>        
    </div>
{%endblock content %}