{% extends "base/base.html" %}
{%load static %}

{%block sidebar %}
    <div id="index-sidebar">
        {% include "index/election_history.html" %}    
    </div>    
{%endblock sidebar %}

{%block content %}
<div id="index-content">
    <div id="index-content-header">       
        <a href="configuration" class="text_button orange"> 
            <img src="{% static 'photos/settings.png' %}"/>
            Configuración 
        </a>
    </div>
    <div id="index-content-body">
        <h1>Crear nueva elección</h1>
        {% include "index/election_builder.html" %}
    </div>
    <div id="index-content-footer">
        
    </div>    
</div>
   
{%endblock content %}