/* Index content */
#index-content {
    flex:1;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-content: center;
    overflow-y: auto;
    overflow-x:hidden;
}

    /* Settings */
    #index-content-header {
        display: flex;
        flex-flow: row;
        justify-content: flex-end;
        align-content: center;
        align-items: center;
        padding: 10px 20px 0 10px;
    }
        #index-content-header img {
            width: 20px;
            height: auto;
            padding: 0 3px;
        }

        #index-content-header a {
            display: flex;
            align-content: center;
            text-decoration: none;
        }
    
    #index-content-body {
        flex: 1;
        display: flex;
        flex-flow: column;
    }

/* Index Sidebar */
#index-sidebar {
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-content: center;
    overflow-y: hidden;
    min-width: 100px;
}


