/* Settings */
#settings_container {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    padding: 10px 20px 0 10px;
}
    #settings_container img {
        width: 20px;
        height: auto;
        padding: 0 3px;
    }

    #settings_container a {
        display: flex;
        align-content: center;
        text-decoration: none;
    }

/* Sidebar */
#index_sidebar {
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-content: center;
    overflow-y: hidden;
    min-width: 100px;
}
