
#election_history_container {
   flex: 1;
   display: flex;
   flex-flow: column;
   justify-content: flex-start;
   align-content: center;
   padding: 0; 
   min-width: 100px;
   background: #F9F7F3 ;
   
} 

#election_history_container  p { 
    text-align: center;
    padding: 10px;
    text-justify: distribute;

}

#election_history_container h3 {
    text-align: center;
    color:#0FA3B1;
    margin-bottom: 20px;
}

#election_history_list {
    padding: 0;
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-content: center;    
}

.election_card {
    display: flex;
    flex-flow: column;
    border: 3px solid #F7A072 ;
    border-radius: 10px;
    margin: 15px;
    padding: 0;
}
    .election_card .election_card_header {
        
        background: #F7A072 ;
        text-align: center;
        color: rgb(2, 84, 92);
        font-size: 11pt;
        border: 0;
        border-radius: 5px 5px 0 0;
        margin: 0;
        padding: 5px 0;
    }

    .election_card .election_card_date{
        margin: 0;
        padding: 5px 10px;
        font-size: 10pt;
       
    }

    .election_card .election_card_type {
        margin: 0;
        padding: 5px 10px;
        font-size: 10pt;        
    }


#pallete {
    color: #0FA3B1 ;
    color: #B5E2FA ;
    color: #F9F7F3 ;
    color: #EDDEA4 ;
    color: #F7A072 ;
 
 }