#pallete {
    color: #0FA3B1 ;
    color: #B5E2FA ;
    color: #F9F7F3 ;
    color: #EDDEA4 ;
    color: #F7A072 ;
 
 }

#results-content {
    flex:1;
    display:flex;
    flex-flow: column;
    justify-content: flex-start;
    align-content: center;
    overflow-y: auto;
    overflow-x: hidden;
}

#results-content-body {
    flex:1;
    display:flex;
    flex-flow: column;
    justify-content: flex-start;
   
}



/* Results */
#results-container {
    flex: 1;
    display: flex;
    flex-flow: row;
}

#headers-container {
    display: flex;
    flex-flow: row;
    background-color: rgba(15, 163, 177, 0.127);
    padding: 10px;
    align-items: center;
}

#headers-container h1 {
    flex: 1;
    margin: 0px;
}

/* Global results */
#global-results-container {
    flex: 1;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    margin: 0;
    border-top: 10px solid rgba(15, 163, 177, 0.127);
}

#global-results-contain h1 {
    flex: 1;
}


/* District results */
#district-results-container {
    flex: 1;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    margin: 0;
    border-top: 10px solid rgba(15, 163, 177, 0.127);
}

.district-container {
    flex: 1;
    display: flex;
    flex-flow: column;
    border-bottom: 1px solid #0FA3B1 ;
    padding: 10px 0;
}