#pallete {
    color: #0FA3B1 ;
    color: #B5E2FA ;
    color: #F9F7F3 ;
    color: #EDDEA4 ;
    color: #F7A072 ;
 
 }

#results_content {
    flex:1;
    display:flex;
    flex-flow: column;
    justify-content: flex-start;
    align-content: center;
    background: #F9F7F3;
    overflow: hidden;
}

/* Index Button */
#redirect_index_container {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    padding: 15px 0 0 15px ;
}


/* Election data */ 
#election_data_container {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin: 0 0 30px 0 ;
}


#election_data_container ul {
    background-color: white;
    list-style-type: none;
    border: 3px solid #0FA3B1;
    margin: 5px 0 0 0;
    padding: 10px;
}

#election_data_container li {
    margin: 0;
    padding: 5px 10px;
}


/* Results */
#results_container {
    display: flex;
    flex-flow: row;
    overflow: hidden;
}

#headers_container {
    display: flex;
    flex-flow: row;
}
#headers_container h1 {
    flex: 1;
}

/* Global results */
#global_results_container {
    flex: 1;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    border-top: 10px solid rgba(15, 163, 177, 0.127);
}

#global_results_contain h1 {
    flex: 1;
}


/* District results */
#district_results_container {
    flex: 1;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    border-top: 10px solid rgba(15, 163, 177, 0.127);
}

.district_container {
    flex: 1;
    display: flex;
    flex-flow: column;
    border-bottom: 1px solid #0FA3B1 ;
    padding: 10px 0;
}