
/* Election data */ 
#election_data_container {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin: 20px 0 0 0;
}

#election_data_container p {
    font-weight: bold;
    margin: 0;
}

#election_data_container ul {
    list-style-type: none;
    border: 1px solid black;
    margin: 5px 0 0 0;
    padding: 10px;
}

#election_data_container li {
    margin: 0;
    padding: 0;
}


/* Seat distribution and Special Votes  */
.table_container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 20px 0 10px 0;
}

.table_container p {
    font-weight: bold;
}

.table_container table, 
.table_container  th, 
.table_container  td  {
   background-color: white;
   border-collapse: collapse;
   border: 3px solid rgb(155, 146, 146);
}

.table_container  th, 
.table_container  td {
    padding: 5px;
    text-align: center;
}

.table_container  th { 
    background-color: rgb(204, 191, 191);
}

div:last-child {
    padding: 20px;
}
