#configuration_content {
    flex:1;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}

#decorator_container {
    flex:1;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

#decorator_container h1 {
    font-size: 18pt;
}

#configuration_form_container {
    display: flex;
    flex-flow: column;
    border: 3px solid #F7A072;
    border-radius: 10px;
    width: 33%;
    height: 33%;
    background-color: rgba(237, 222, 164, 0.658) ;
}

#configuration_form {
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 25px;
}

#configuration_button_container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}


#submit_input {
    height: fit-content;
    margin: 20px 20px 20px 0;
}
