#pallete {
   color: #0FA3B1 ;
   color: #B5E2FA ;
   color: #F9F7F3 ;
   color: #EDDEA4 ;
   color: #F7A072 ;

}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    margin: 0;
    overflow: hidden;
}

/* Header */
header {
    display:flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #0FA3B1;
    min-height: 80px;
    padding-top: 10px;
}

    header img {
        width: 55px;
        height: auto;
    }

    header p {
        color:white;
        font-size:  20pt;
    }



/* Main */ 
main {
    flex:1;
    display: flex;
    flex-flow: row;
    overflow: hidden;
    background: #F9F7F3;
}

    /* Main Sidebar */ 
    main section#block_sidebar {
        display: flex;
        flex-flow: column;
        align-items: center;
        overflow: hidden;
    }

    /* Main Content */
    main section#block_content {
        flex:1;
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-content: center;
        overflow: hidden;
    }

        /* Index Button */
        .redirect_index_container {
            display: flex;
            align-content: center;
            justify-content: flex-start;
            padding: 15px 0 0 15px ;
        }


/* Footer */
footer {
    display:flex;
    justify-content: center;
    align-content: center;
    background-color: #0FA3B1;
}

footer p {
    color:white;
    font-size:  10pt;
}

