h1 {
    color: #0FA3B1;
    font-size: 15pt;
    font-weight: bold;
    margin: 20px 0 0 0;
    text-align: center;
}
h2 {
    color: #F7A072 ;
    font-size: 12pt;
    font-weight: bold;
    margin: 0;
    text-align: center;
}
