
/* width */
::-webkit-scrollbar {
    width: 0px;
}
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #B5E2FA ;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #EDDEA4 ;
    border-radius: 0px;
    
}