{% load static %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <!-- CSS stylesheets -->
        <link rel="stylesheet" type="text/css" href="{% static 'styles/base/base.css'%}?{% now "U" %}">
        <link rel="stylesheet" type="text/css" href="{% static 'styles/base/buttons.css'%}?{% now "U" %}">
        <link rel="stylesheet" type="text/css" href="{% static 'styles/base/labels.css'%}?{% now "U" %}b ">
        <link rel="stylesheet" type="text/css" href="{% static 'styles/base/tables.css'%}?{% now "U" %}">
        <link rel="stylesheet" type="text/css" href="{% static 'styles/base/forms.css'%}?{% now "U" %}">
        <link rel="stylesheet" type="text/css" href="{% static 'styles/base/text.css'%}?{% now "U" %}b ">        
        <link rel="stylesheet" type="text/css" href="{% static 'styles/base/scrollbars.css'%}?{% now "U" %}b ">
        <link rel="stylesheet" type="text/css" href="{% static 'styles/results/base_results.css'%}?{% now "U" %}b ">
        <link rel="stylesheet" type="text/css" href="{% static 'styles/index/base_index.css'%}?{% now "U" %}b ">
        <link rel="stylesheet" type="text/css" href="{% static 'styles/index/election_builder.css'%}?{% now "U" %}b ">
        <link rel="stylesheet" type="text/css" href="{% static 'styles/configuration/base_configuration.css'%}?{% now "U" %}b ">
        <link rel="stylesheet" type="text/css" href="{% static 'dialog/dialog.css'%}?{% now "U" %}">


        <!-- JS Scripts -->
        <script src="{% static 'dialog/dialog.js' %}?{% now 'U' %}"></script>
        <script src="{% static 'election-builder.js'%}?{% now 'U' %}"></script>
        

        <title>{% block title %}Democracy{% endblock %}</title>
    </head>

    <body>
        <header >
            <img src="/main/static/photos/urna.png"/>
            <p>Democracy</p>
        </header>

        <main>
            <section id ="block_sidebar">
                {% block sidebar %}{% endblock %}
            </section>

            <section id="block_content">
                {% block content %}{% endblock %}
            </section>
        </main>  

        <footer>
           <p> Adrián Arroyo - Pablo Valdunciel - Juan González</p> 
        </footer>
        
    </body>
</html>